<template name="cplexcloud">

  <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Problemas de optimizacion cargados en la nube</h5><br><br>
                        <p>En esta seccion se presentan todos los problemas de optimizacion que se encuentran ya cargados en la nube para realizar las consultas correspondientes(ej:Obtener el resultado de ejecucion). 
                          Para mas informacion ingrese a la siguente pagina: <a target="_blank" style="color:#00b299" href="https://dropsolve-oaas.docloud.ibmcloud.com/software/analytics/docloud">https://dropsolve-oaas.docloud.ibmcloud.com/software/analytics/docloud</a></p>
                    </div>
                    <div class="ibox-content text-center">
                        <div class="row">
                            <button type="button" id="eliminar" class="btn btn-primary" data-dismiss="modal">Eliminar todos los trabajos</button>
                            <button type="button" id="salir" class="btn btn-danger" data-dismiss="modal">Salir</button>
                            <!--<button type="button" id="resolver" class="btn btn-primary" data-dismiss="modal">Resolver</button>
                            <button type="button" id="mostrar" class="btn btn-primary" data-dismiss="modal">Mostrar resueltos</button>
                            -->
                        </div>
                    </div>
                    <div class="ibox-content text-center animated fadeInUp" id="btnoculto" hidden="">
                        
                    </div>
                </div>
            </div>
        </div>
</div>

</template>