<template name="adminUsers">
 <div id="adminUsuarios">
 
	<div class="wrapper wrapper-content animated fadeInRight">
 
		<div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Gestión de Usuarios del Sistema</h5>
                        {{>gu_iboxTools}} 
                        
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                        {{#if Template.subscriptionsReady}}
                       		{{#if isAdmin}}

          					          {{> TmplModalUpdate}}
                               {{> TmplModalRemove}}
                               {{> TmplModalChangePass}}
                               {{> TmplModalCreateUser}}
                               {{> TmplModalChangeRol}}
         					 			 
            				   {{> tabular table=TabularTables.usuarios class="table table-striped table-bordered table-condensed"}}

        				    {{/if}}	
                       {{/if}}  
                        </div>

                    </div>
                </div>
            </div>
		</div>          


    </div>
  </div>
 </template>