<template name="changeRolForm">

	

	{{#autoForm schema=traeSchema id="afChangeRol" type="method" doc=selectedUserDoc meteormethod="setRol"}}


		<fieldset>
			{{> afQuickField name='userId' value=idUsuario  readonly=true}}
			{{> afQuickField name='rol' options="allowed" }}
			
			
	    </fieldset>
	    <button type="submit" class="btn btn-primary">Actualizar</button>

	{{/autoForm}}

</template>
