<template name="usersActionBtns">

	<button id="btnUpdate" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#updateModal">

		<span class="glyphicon glyphicon-pencil"></span>

	</button>

	<button id="btnRemove" type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#removeModal">

		<span class="glyphicon glyphicon-trash"></span>

	</button>
    <button id="btnChangePass" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#changePassModal">

		<span class="glyphicon glyphicon glyphicon-record"></span>
	</button>

	<button id="btnNewRol" type="button" class="btn btn-sm btn-default"  data-toggle="modal" data-target="#changeRolModal">

		<span class="glyphicon glyphicon-registration-mark"></span>
	</button>

</template>
