<template name="modalAgregarModelo">


    <div class="modal fade" id="modal_agregar_modelo" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content" style="min-width: 700px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times; </span></button>
                <h4 class="modal-title" id="title_modal_sesion">Cargar Modelo</h4>
            </div>
              {{#with currentUpload}}
                Subiendo <b>{{file.name}}</b>: 
                <span id="progress">{{progress.get}}%</span>
              {{else}}
                <input id="fileInput" type="file" />
                <p><small>Seleccione un archivo tipo <code>mod</code> or <code>dat</code> cuyo tamaño sea menor o igual a 10MB</small></p>
              {{/with}}

            

            
          </div>
        </div>
    </div> 
    </template>
