<template name="warehouse">

  <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Warehouse Problem <small>Solicitar resolver problema</small></h5>
                        <div class="text-right"><a href="#" id="editjob"><i class="fa fa-sliders"></i> Editar</a></div><br>
                        <p>El problema de optimización en este ejemplo es encontrar la mejor ubicación para construir un almacén, de modo que pueda abastecer sus tiendas existentes a un costo mínimo. El problema se formaliza en el archivo de modelo <span style="font-family: courier">warehouse.mod</span>. Los datos están en el archivo <span style="font-family: courier">warehouse.dat</span>.
                          Aprenda más sobre este problema de optimización: <a style="color:#00b299" href="https://dropsolve-oaas.docloud.ibmcloud.com/resources/samples/zip/Warehouse-location.zip">warehouse.zip</a>.</p>

                    </div>
                    <div class="ibox-content text-center" id="cositoxd">
                        <div class="row">
                            <button type="button" id="resolver" class="btn btn-primary" data-dismiss="modal">Resolver</button>
                            <button type="button" id="deletejob" class="btn btn-primary">Eliminar</button>
                            <button type="button" id="salir" class="btn btn-danger" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInDown" id="spinerld" hidden="">
                        <div class="sk-spinner sk-spinner-circle">
                                                            <div class="sk-circle1 sk-circle"></div>
                                                            <div class="sk-circle2 sk-circle"></div>
                                                            <div class="sk-circle3 sk-circle"></div>
                                                            <div class="sk-circle4 sk-circle"></div>
                                                            <div class="sk-circle5 sk-circle"></div>
                                                            <div class="sk-circle6 sk-circle"></div>
                                                            <div class="sk-circle7 sk-circle"></div>
                                                            <div class="sk-circle8 sk-circle"></div>
                                                            <div class="sk-circle9 sk-circle"></div>
                                                            <div class="sk-circle10 sk-circle"></div>
                                                            <div class="sk-circle11 sk-circle"></div>
                                                            <div class="sk-circle12 sk-circle"></div>
                                                        </div><br>
                                                        <div class="text-center" id="basicUsage2">00:00:00</div>
                    </div>
                    <div class="ibox-content text-center animated fadeInDown" id="btnoculto" hidden="">
                            <button type="button" id="mostrarR" class="btn btn-dark" data-dismiss="modal">Mostrar resultados</button>
                            <div class="animated fadeInDown" id="textoculto" hidden="">
                                <textarea id="textito" style="resize: none; width: 100%; height: 150px;">
                                </textarea>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</template>