<template name="steelmill">

  <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Steel mill Problem <small>Solicitar resolver problema</small></h5>
                        <div class="text-right"><a href="#" id="editjob"><i class="fa fa-sliders"></i> Editar</a></div><br>
                        <p>El problema de la fábrica de acero consiste en fabricar bobinas de acero a partir de losas que están disponibles en un inventario de productos semiacabados en proceso de trabajo. El problema se formaliza en el archivo de modelo <span style="font-family: courier">steelmill.mod</span>. Los datos están en el archivo <span style="font-family: courier">steelmill.dat</span>.
                          Aprenda más sobre este problema de optimización: <a target="_blank" style="color:#00b299" href="https://www.ibm.com/support/knowledgecenter/SSSA5P_12.6.1/ilog.odms.ide.help/OPL_Studio/usroplexamples/topics/opl_cp_examples_combinatorial.html#usroplsamples.uss_opl_cpsamples.1024269__usroplsamples.uss_opl_cpsamples.1025134">steelmill</a>.</p>
                    </div>
                    <div class="ibox-content text-center" id="cositoxd">
                        <div class="row">
                            <button type="button" id="resolver" class="btn btn-primary" data-dismiss="modal">Resolver</button>
                            <button type="button" id="deletejob" class="btn btn-primary">Eliminar</button>
                            <button type="button" id="salir" class="btn btn-danger" data-dismiss="modal">Salir</button>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInDown" id="spinerld" hidden="">
                        <div class="sk-spinner sk-spinner-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                        <div class="text-center" id="basicUsage">00:00:00</div>
                    </div>
                    <div class="ibox-content text-center animated fadeInDown" id="btnoculto" hidden="">
                            <button type="button" id="mostrarR" class="btn btn-dark" data-dismiss="modal">Mostrar resultados</button>
                            <div class="animated fadeInDown" id="textoculto" hidden="">
                                <textarea id="textito" style="resize: none; width: 100%; height: 150px;">
                                </textarea>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</template>

