<template name="login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
        <div class="ibox-content">
            <div>
                <h1 class="logo-name">ColaSched</h1>
            </div>
            <h3>Bienvenido a Colaborative Scheduling</h3>
            <p> Por favor ingresa tu email y contraseña para iniciar sesion.
            </p>
                {{> atForm state='signIn'}}
            <p class="m-t"> <small> &copy; 2017 - Laboratorio de Informática Aplicada a la Innovación </small> </p>
        </div>
        </div>

    </div>


</template>