<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='mailbox'}}">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="{{pathFor route='login'}}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <li class="{{isActiveRoute regex='cplexcloud'}}">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Trabajos resueltos</span> <!--<span class="fa arrow"></span>--></a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='cplexcloud' className='in'}}">
                        <li class="{{isActiveRoute regex='cplexcloud'}}"><a class="itemcplex" href="{{pathFor route='cplexcloud'}}">Cplex Cloud</a></li>
                        <!--<li class="{{isActiveRoute regex='steelmill'}}"><a href="{{pathFor route='steelmill'}}">steelmill</a></li>
                        <li class="{{isActiveRoute regex='adminModels'}}"><a href="{{pathFor route='adminModels'}}">adminModels</a></li>
                        <li class="{{isActiveRoute regex='ejemplo3'}}"><a href="{{pathFor route='ejemplo3'}}">Dashboard v.3</a></li>
                        <li class="{{isActiveRoute regex='ejemplo4'}}"><a href="{{pathFor route='ejemplo4'}}">Dashboard v.4</a></li>-->
                    </ul>
                </li>
                <li class="{{isActiveRoute regex='warehouse|steelmill'}}">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Modelos</span> <!--<span class="fa arrow"></span>--></a>
                    <ul class="nav nav-second-level {{isActiveRoute regex='warehouse|steelmill' className='in'}}">
                        <li class="{{isActiveRoute regex='warehouse'}}"><a href="{{pathFor route='warehouse'}}">warehouse</a></li>
                        <li class="{{isActiveRoute regex='steelmill'}}"><a href="{{pathFor route='steelmill'}}">steelmill</a></li>
                        <!--<li class="{{isActiveRoute regex='adminModels'}}"><a href="{{pathFor route='adminModels'}}">adminModels</a></li>
                        <li class="{{isActiveRoute regex='ejemplo3'}}"><a href="{{pathFor route='ejemplo3'}}">Dashboard v.3</a></li>
                        <li class="{{isActiveRoute regex='ejemplo4'}}"><a href="{{pathFor route='ejemplo4'}}">Dashboard v.4</a></li>-->
                    </ul>
                </li>
                
            </ul>

        </div>
    </nav>
</template>